<div class="drilldown-results-output">
    {{#drilldownResults}}
        <div class="drilldown-result">
            {{#heading}}
                <div class="drilldown-result-heading">
                    {{heading}}
                </div>
            {{/heading}}
            <div class="drilldown-result-body">
                {{{body}}}
            </div>
        </div>
    {{/drilldownResults}}
</div>
