        <div class="drilldown-results-output">
            {{#drilldownResults}}
                <div class="drilldown-result">
                    <div class="drilldown-result-heading">{{heading}}</div>
                    <div class="drilldown-result-body">
                        {{{body}}}
                    </div>
                </div>
            {{/drilldownResults}}
            {{{footer}}}
        </div>
    {{! Close the Bootstrap Panel wrapper opened in QueryPageHeader }}
    </div> <!-- panel-body -->
</div> <!-- panel -->
