{{{header}}}
{{#categories}}{{>QueryPageHeader.Categories}}{{/categories}}
<div class="panel panel-default">
    <div class="panel-heading">&nbsp;</div>
    <div class="panel-body">
        {{#appliedFilters}}
            <div id="drilldown-header">
                <a href="{{categoryUrl}}" title="{{msg_sd_browsedata_resetfilters}}">{{category}}</a>
                {{{remainingHtml}}}
            </div>
        {{/appliedFilters}}
        {{#applicableFilters}}
            <p>{{msg_sd_browsedata_docu}}</p>
            <div class="drilldown-filters">
                {{{remainingHtml}}}
            </div>
        {{/applicableFilters}}
        <div class="drilldown-results-output drilldown-results-output-unpaged">
            {{>Results}}
        </div>
   {{! The 2 remaining divs are closed in QueryPageOutput }}
