        <div class="drilldown-results-output drilldown-results-output-paged">
            {{>Results}}
            {{{footer}}}
        </div>
    {{! Close the Bootstrap Panel wrapper opened in QueryPageHeader }}
    </div> <!-- panel-body -->
</div> <!-- panel -->
